
.card-content p{
  font-size: 30px;
}
.card-action a{
  font-size:20px;
}
.container-fluid{
  background-color: whitesmoke;
} 
.container-sm{
  background-color: black ;
  margin-top:2%;
}
body{
  background-color: black ;

}
.border{
  border:5px rgb(0, 8, 20);
  margin: 20px;
  padding-left: 0%;
}

.card-image {
  text-align: center;
  justify-content: center;
}
  
.card-action {
  justify-content: center;
  text-align: center;
  color: blue;
}

  a{
    color: blue !important;
    text-transform: none !important;
  }

